<h4>داشبورد ورزشکار</h4>

<div class="row">
    <div class="col-md-4">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.Balance ریال</h3>
                <p>موجودی کیف پول</p>
            </div>
        </div>
    </div>
</div>
