@{
    ViewData["Title"] = "داشبورد";
}
<h3>خوش آمدید</h3>
<div class="row">
    <div class="col-md-3">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>کاربران</h3>
                <p>مدیریت کاربران</p>
            </div>
        </div>
    </div>
</div>
