<h4>کیف پول من</h4>

<a href="/Wallet/Charge" class="btn btn-success">شارژ آنلاین</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>تاریخ</th>
            <th>مبلغ</th>
            <th>شرح</th>
        </tr>
    </thead>
</table>
